<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
 
        {% for new, des, i in context %}
     
        <img src="{{i}}" alt="" height="300px" width="300px">
        <h3>News: </h3> {{new}}
        <h4>Description: </h4> {{des}}
     
        {% endfor %}
     
     
    </div>
     
</body>
</html>